input {
    border: solid 1px black;
     }
  
nav  
  .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
  }
  
  .btn-success {
      color: #fff;
      background-color: #5cb85c;
      border-color: #4cae4c;
      padding: 15px;
    border-radius: 11px;
    margin-top: 15px;
  }
  
  .btn-delete {
      color: #fff;
      background-color: #CF000F;
      border-color: #CF000F;
      padding: 15px;
      border-radius: 11px;
      margin-top: 15px;
  }
  
  .quantity {
    margin: 0 5px;
    
  }
nav {color: black}
  .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
   color: #ed4b96;
}
.carousel-item:before {content: ''; 
position: absolute;
height: 25%;
width: 75%;
background-image: url(img/overlay.png);
}

#sliderbh h1 { font-size: 2rem;

}
#sliderbh button { background-color: rgba(0,0,0,6);
color: white;
border: 1px solid #ffff;
padding: 7 px 17px;
}

.carousel-control-next, .carousel-control-prev { width: 40px; height: 80px; top:50%; opacity: .0; background-color: #ed4b96}

#services {background-color: #ed4b96; padding: 50px;
text-align: center; color: white; 
}

#services h3 { 
    margin: 20px 0px;
    font-size: 1.4rem;
    letter-spacing: 1px;
}
.rounded-circle {
    padding: 15px;
    border: 3px solid #fff;
    color: white;

}

#sliderbh button {background-color: rgba(0,0,0,0); color: white; 
    border: 1px solid white;
}

#services p {
  font-size: .9rem  
}

.portfolio {margin: 50px}
.portfolio img {width: 100%; margin-bottom: 15px; ;
} 

.portfolio .row {padding-top: 15px;
border-top: 1px solid #bbb;
 }
.portfolio p {line-height: 1rem;}

#projects .row p {text-align: center;
}

.portfolio h4, .portfolio p4 {text-transform: uppercase}

#articles .row p { color: #606060}

.portfolio h5 { 
    font-size: .9rem;
    line-height: .9rem;
    font-weight: bold;
}
.portfolio .postinfo { 
    font-weight: bold;
    font-size: .9rem;
    line-height: .9rem;
    color: grey;
    margin: 15px 0;

}
.portfolio .postinfo span {color: #ed4b96 }


#footer {
    background-color:#3b3b3b; border-top: 4px solid #ed4b96;
    color: #aaa; padding: 50px;}



#footer ul {
    padding-left: 0;
    list-style-type: none;
}


#footer ul li a { border-bottom: dotted;
display: block;
width: 100%;
padding: 7px 0;


}
#footer ul a { 
    padding-left: 0;
    color: #aaaa}

#footer h5 {text-transform: uppercase;
color: white;
letter-spacing: 1px;
 }
footer {background-color: #292929; color: white;
    padding: 15px 0;
}
  
/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 320px;
	height: 480px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

.front img::hover {
    width: 1000px
}